<div>
  <h4>Please Enter Parking Details</h4>
<input type="text" [(ngModel)]="N" class="form-control search" placeholder="Enter parking space available" />
<input type="text" [(ngModel)]="M" class="form-control search" placeholder="Enter available cars in parking lot" />
<button class="btn btn-default" (click)="addParkingDetails()">Submit</button>
</div>

<div>
    <h4>Please Enter Incoming Car Detail</h4>
  <input type="text" [(ngModel)]="newCarNumber" class="form-control search" placeholder="Enter registration number Ex: KA-01-TY-1954" />
  <input type="text" [(ngModel)]="newCarColor" class="form-control search" placeholder="Enter car color" />
  <button class="btn btn-default" (click)="addIncomingCarDetails()">Submit</button>
  </div>

<div>
  <h4>Cars Detail</h4>
  <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Registration Number</th>
          <th>Color</th>
          <th>Slot</th>
          <th>Remove Car</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of availableCarDetails; index as i">
          <td>{{data.regno}}</td>
          <td>{{data.color}}</td>
          <td>{{data.slotno}}</td>
          <td><button class="btn btn-small" (click)="removeCar(i, data.slotno)">Remove</button></td>
        </tr>
      </tbody>
    </table>
</div>

<div>
  <h4>Available Slots</h4>
  <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Slot Number</th>
          <th>Available/NotAvailable</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of availableSlots; index as i">
          <td>{{i + 1}}</td>
          <td>{{data}}</td>
        </tr>
      </tbody>
    </table>
</div>